# Curso Python

## Variáveis e tipos de dados

In [2]:
# Declaracao de variaveis em python
x = 10
x

10

In [3]:
x = 'banana'
x

'banana'

In [4]:
# Tipos de dados

x = 10 
print(type(x))

<class 'int'>

In [5]:
x = 10.0 
print(type(x))

<class 'float'>

In [6]:
x = '10' 
print(type(x))

<class 'str'>

In [7]:
x = "10" 
print(type(x))

<class 'str'>

In [10]:
x = True # ou False
print(type(x))

<class 'bool'>

In [11]:
x = None # semelhante ao null
print(type(x))

<class 'NoneType'>

In [12]:
x = [1, 2, 3, 4, 'jaca', False]
print(type(x))

<class 'list'>

In [13]:
x = (1, 2, 3, 4, 'jaca', False)
print(type(x))

<class 'tuple'>

In [15]:
x = {
    'nome': 'Homer Simpson',
    'idade': 40,
    'salario': 3_000.00
}
print(type(x))

<class 'dict'>

In [18]:
# numeros em hexadecimal
x = 0xCAFE
print(x)

# numeros binarios
x = 0b0000_0100_0011
print(x)

51966
67

## Operadores

### Operadores aritméticos

- Soma: +
- Subtração: -
- Multiplicação: *
- Divisão inteira: //
- Divisão real: /
- Resto: %
- Exponenciação: **

In [21]:
x = 2 + 3
print(x)

x = 2 - 3
print(x)

x = 2 * 3
print(x)

x = 2 / 3
print(x)

x = 2 // 3
print(x)

x = 2 % 3
print(x)

x = 2 ** 3
print(x)

x = (2 - 3) * 4 ** 16
print(x)

5
-1
6
0.6666666666666666
0
2
8
-4294967296

## Operadores relacionais

- Igualdade: ==
- Diferença: !=
- Maior: >
- Maior ou igual: >=
- Menor: <
- Menor ou igual: <=

## Operadores lógicos

- Negação: `not`
- E: `and`
- OU: `or`

## Pacotes

Importa o namespace inteiro
```
import random
random.randint(1, 100)
```

Importa o namespace com outro nome
```
import random as rnd
rnd.randint(1, 100)
```

Importa somente as funções que serão usadas
```
from random import randint
randint(1, 100)
```

## Estruturas de decisão

- `if`
- `if` / `else`
- `if` / `elif` / `else`

In [24]:
from random import randint

x = randint(1, 100)

if x % 2 == 0:
    print(f'O numero {x} eh par')
else:
    print(f'O numero {x} eh impar')

O numero 72 eh par

In [26]:
x = randint(-100, 100)

if x > 0:
    print(f'O numero {x} eh positivo')
elif x < 0:
    print(f'O numero {x} eh negativo')
else:
    print(f'O numero {x} eh nulo')

O numero -33 eh negativo

## Estruturas de repetição

- `for .. in`
- `while`

Para mudar o fluxo de execução de um laço podem ser usados os comandos:

- `continue`
- `break`

lista_compras = ['banana', 'laranja', 'melancia', 'morango', 'abacaxi']

for item in lista_compras:
    print(item)

In [28]:
# Imprime de 0 a 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
# Imprime de 5 a 9
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [30]:
# Imprime de 5 a 20 de 3 em 3
for i in range(5, 20, 3):
    print(i)

5
8
11
14
17

In [33]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

## Lista

In [34]:
lista = []
for i in range(10):
    lista.append(i)
    
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
lista = [i for i in range(10)]

print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
lista = [0 for i in range(10)]

print(lista)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [38]:
lista = [randint(1, 100) for i in range(10)]

print(lista)

[6, 99, 96, 81, 91, 29, 89, 36, 92, 9]

In [40]:
# Adicionar um elemento ao final
lista.append(9999)
print(lista)

[6, 99, 96, 81, 91, 29, 89, 36, 92, 9, 9999, 9999]

In [41]:
# Adiciona um elemento no inicio da lista
lista.insert(0, -9999)
print(lista)

[-9999, 6, 99, 96, 81, 91, 29, 89, 36, 92, 9, 9999, 9999]

In [42]:
# Remove um elemento do final da lista
lista.pop()
print(lista)

[-9999, 6, 99, 96, 81, 91, 29, 89, 36, 92, 9, 9999]

In [43]:
# Ordena a lista
lista.sort()
print(lista)

[-9999, 6, 9, 29, 36, 81, 89, 91, 92, 96, 99, 9999]

In [44]:
# Ordena em ordem descrescente
lista.sort(reverse=True)
print(lista)

[9999, 99, 96, 92, 91, 89, 81, 36, 29, 9, 6, -9999]

In [45]:
# Quebra a lista em duas
sublista1 = lista[:5]
print(sublista1)

sublista2 = lista[5:9]
print(sublista2)

sublista3 = lista[5:]
print(sublista3)

[9999, 99, 96, 92, 91]
[89, 81, 36, 29]
[89, 81, 36, 29, 9, 6, -9999]

In [46]:
# Acesso aos elementos
print(lista[2])
print(lista[-1]) # ultimo elemento

96
-9999

In [48]:
# Verifica se um elemento esta na lista
if 36 in lista:
    print('A lista possui o 36')
    
if 38 in lista:
    print('A lista possui o 38')
else:
    print('A lista nao possui o 38')

A lista possui o 36
A lista nao possui o 38

In [50]:
tupla = (1, 2, 3)
print(tupla)

#tupla[2] = 8 # ERRO!

(1, 2, 3)

## Conjuntos

In [51]:
lista = [1, 2, 3, 3, 3, 4, 5]
print(lista)

conjunto = set(lista)
print(conjunto)

[1, 2, 3, 3, 3, 4, 5]
{1, 2, 3, 4, 5}

In [52]:
for i in conjunto:
    print(i)

1
2
3
4
5